div.button-group {
    border: 1px solid black;
    margin: 16px;
    padding: 16px;
    width: fit-content;
}

#button-group__one {
    background: antiquewhite;
}

#button-group__two {
    background: cornflowerblue;
}

#button-group__one {
    display: none;
}

/*#submit__one {*/
/*    display: none;*/
/*}*/